@import "./partials/variables";
@import "./partials/themeStyle";
@import "./partials/bookCard";
@import "./partials/login";
@import "./partials/toRead";
@import "./partials/mixins";


body {
  @include apply-theme($summer); // Default theme
  display: flex;
  flex-flow: row wrap;
}
.winter {
  @include apply-theme($winter);
}

.dark-mode {
  @include apply-theme($dark-mode);
}

.summer {
  @include apply-theme($summer);
}

header {
  max-width: 88%;
}

#books-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1em;
}
#logo{
  display: flex;
  align-items: center;
  height: 10em;
  margin: 0 1em;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5294117647);
  #logo-img{
    height: 100%;
  }
}
h1 {
  font-size: $h1-size;
  margin: 0 1em;
  text-shadow: $text-shadow;
}
h2 {
  font-size: $h2-size;
  text-shadow: $text-shadow;
}
h3 {
  font-size: $h3-size;
}
h4 {
  font-size: $h4-size;
}