.book-card {
  display: flex;
  flex-wrap: wrap;
  width: 20em;
  border-radius: 0.8rem;
  overflow: hidden;
  border: 0.5rem solid;
}
.book-card .book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  flex: 1 0 50%;
}
.book-card .book-details p {
  margin: 0.5em;
}
.book-card .read-btn {
  width: 70%;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  position: relative;
  left: 13%;
  border: none;
  border-radius: 5px;
}
.book-card .read-btn i {
  display: flex;
  gap: 1em;
}
.book-card img {
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  flex: 1 1 300px;
  outline: 0.5rem solid;
  height: 20em;
}
.book-card .rating {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em;
  align-self: center;
}
.book-card .rating .star-rating {
  white-space: nowrap;
}
.book-card .rating .star-rating [type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.book-card .rating .star-rating i {
  font-size: 1.2em;
  transition: 0.3s;
}
.book-card .rating .star-rating label:is(:hover, :has(~ :hover)) i {
  transform: scale(1.35);
  color: #fffdba;
  animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}
.book-card .rating .star-rating label:has(~ :checked) i {
  color: #faec1b;
  text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}
@keyframes jump {
  0%, 50% {
    transform: translatey(0) scale(1.35);
  }
  100% {
    transform: translatey(-15%) scale(1.35);
  }
}

.book-item {
  display: flex;
  flex-wrap: wrap;
  width: 15em;
  border-radius: 0.8rem;
  overflow: hidden;
  border: 0.5rem solid;
  padding: 0;
}
.book-item .book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  flex: 1 0 50%;
}
.book-item .book-details p {
  margin: 0.5em;
}
.book-item .read-btn {
  width: 70%;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  position: relative;
  left: 13%;
  border: none;
  border-radius: 5px;
}
.book-item .read-btn i {
  display: flex;
  gap: 1em;
}
.book-item h4 {
  margin: 0;
}

#login-wrapper {
  flex-wrap: wrap;
}

#login, #register {
  display: flex;
  margin: 1em;
  align-items: center;
}
#login fieldset, #register fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 1em;
  padding: 1em;
  margin: 1em;
  font-weight: 700;
}
#login fieldset input, #register fieldset input {
  border-radius: 5px;
  padding: 0.5em;
}
#login button, #register button {
  padding: 2.5em 2em;
  border-radius: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
#login button:hover, #register button:hover {
  background-color: blanchedalmond;
}

#register button {
  padding: 3em 2em;
  border-radius: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
#register button:hover {
  background-color: blanchedalmond;
}

#logout-btn {
  padding: 1em 2em;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  position: fixed;
  right: 3%;
}
#logout-btn:hover {
  background-color: blanchedalmond;
}

.reading-list-promt {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  margin: 1em;
}
.reading-list-promt button {
  padding: 1em 1em;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
.reading-list-promt button:hover {
  background-color: blanchedalmond;
}

#to-read-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 1em;
  gap: 1em;
}
#to-read-container .book-card img {
  display: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffe1a8;
  background-image: url(/image/freepik-coolvector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #472d30;
}
body h1 {
  font-size: 34px;
}
body h2 {
  font-size: 28px;
}
body h3 {
  font-size: 18px;
}
body h4 {
  font-size: 16px;
}
body .book-item {
  background-color: rgba(149, 191, 174, 0.96);
  color: #ad6b21;
}
body .book-item .book-details .read-btn {
  background-color: #ad6b21;
  color: #ffffff;
}
body .book-item .book-details .read-btn:hover {
  background-color: #ae80b5;
}
body .book-card {
  background-color: rgba(149, 191, 174, 0.96);
  color: #ad6b21;
  box-shadow: 10px 10px 20px rgb(203, 238, 221);
}
body .book-card .book-details .read-btn {
  background-color: #ad6b21;
  color: #ffffff;
}
body .book-card .book-details .read-btn:hover {
  background-color: #ae80b5;
}

.winter {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffffff;
  background-image: url(/image/freepik-s.salvador.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #000000;
}
.winter h1 {
  font-size: 34px;
}
.winter h2 {
  font-size: 28px;
}
.winter h3 {
  font-size: 18px;
}
.winter h4 {
  font-size: 16px;
}
.winter .book-item {
  background-color: rgba(208, 230, 245, 0.84);
  color: #003049;
}
.winter .book-item .book-details .read-btn {
  background-color: hsl(340.83, 41.38%, 65.88%);
  color: #ffffff;
}
.winter .book-item .book-details .read-btn:hover {
  background-color: #ae80b5;
}
.winter .book-card {
  background-color: rgba(208, 230, 245, 0.84);
  color: #003049;
  box-shadow: 10px 10px 20px rgba(0, 150, 136, 0.69);
}
.winter .book-card .book-details .read-btn {
  background-color: hsl(340.83, 41.38%, 65.88%);
  color: #ffffff;
}
.winter .book-card .book-details .read-btn:hover {
  background-color: #ae80b5;
}

.dark-mode {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #333333;
  background-image: url(/image/freepik-pikisuperstar.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
}
.dark-mode h1 {
  font-size: 34px;
}
.dark-mode h2 {
  font-size: 28px;
}
.dark-mode h3 {
  font-size: 18px;
}
.dark-mode h4 {
  font-size: 16px;
}
.dark-mode .book-item {
  background-color: #2b2b2b;
  color: #a6e1fa;
}
.dark-mode .book-item .book-details .read-btn {
  background-color: #a6e1fa;
  color: #2b2b2b;
}
.dark-mode .book-item .book-details .read-btn:hover {
  background-color: #59c6f5;
}
.dark-mode .book-card {
  background-color: #2b2b2b;
  color: #a6e1fa;
  box-shadow: 0px 0px 20px rgb(166, 225, 250);
}
.dark-mode .book-card .book-details .read-btn {
  background-color: #a6e1fa;
  color: #2b2b2b;
}
.dark-mode .book-card .book-details .read-btn:hover {
  background-color: #59c6f5;
}

.summer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffe1a8;
  background-image: url(/image/freepik-coolvector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #472d30;
}
.summer h1 {
  font-size: 34px;
}
.summer h2 {
  font-size: 28px;
}
.summer h3 {
  font-size: 18px;
}
.summer h4 {
  font-size: 16px;
}
.summer .book-item {
  background-color: rgba(149, 191, 174, 0.96);
  color: #ad6b21;
}
.summer .book-item .book-details .read-btn {
  background-color: #ad6b21;
  color: #ffffff;
}
.summer .book-item .book-details .read-btn:hover {
  background-color: #ae80b5;
}
.summer .book-card {
  background-color: rgba(149, 191, 174, 0.96);
  color: #ad6b21;
  box-shadow: 10px 10px 20px rgb(203, 238, 221);
}
.summer .book-card .book-details .read-btn {
  background-color: #ad6b21;
  color: #ffffff;
}
.summer .book-card .book-details .read-btn:hover {
  background-color: #ae80b5;
}

#books-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1em;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5294117647);
  z-index: 1000;
}
#logo #logo-img {
  height: 100%;
}/*# sourceMappingURL=style.css.map */