@import "./variables";

@mixin apply-theme($theme) {
  font-family: $text-family;
  background-color: map-get($theme, background-color);
  background-image: map-get($theme, background-image);
  background-repeat: map-get($theme, background-repeat);
  background-position: map-get($theme, background-position);
  background-size: map-get($theme, background-size);
  color: map-get($theme, text-color);
  h1 {
    font-size: $h1-size;
  }
  h2{
    font-size: $h2-size;
  }
  h3{
    font-size: $h3-size;
  }
  h4{
    font-size: $h4-size;
  }
  .book-item {
    background-color: map-get($theme, book-card-bg);
    color: map-get($theme, book-card-text);
    .book-details{
      .read-btn {
      background-color: map-get($theme, button-color);
      color: map-get($theme, button-text);
      }
      .read-btn:hover {
        background-color: map-get($theme, background-hover )
      }
    }   
  }
  .book-card {
    background-color: map-get($theme, book-card-bg);
    color: map-get($theme, book-card-text);
    box-shadow: map-get( $theme, book-card-shadow);
    .book-details{
      .read-btn {
      background-color: map-get($theme, button-color);
      color: map-get($theme, button-text);
      }
      .read-btn:hover {
        background-color: map-get($theme, background-hover )
      }
    }    
  }
}

@mixin fieldset-style {
  display: flex;
  flex-flow: row wrap;
  border-radius: 5px;
  gap: 1em;
  padding: 1em;
  margin: 1em;
  font-weight: 700;

  input {
    border-radius: 5px;
    padding: 0.5em;
  }
}

@mixin button-style($padding-y, $padding-x, $border-radius) {
  padding: $padding-y $padding-x;
  border-radius: $border-radius;
  font-family: $text-family;
  font-weight: 700;
  &:hover {
    background-color: $btn-hover-bg-color;
  }
}

@mixin bookCard ($width) {
  display: flex;
  flex-wrap: wrap;
  width: $width;
  border-radius: 0.8rem;
  overflow: hidden;
  border: 0.5rem solid;
  .book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    flex: 1 0 50%;
    p {
      margin: 0.5em 0em;
    }
  }
  .read-btn {
    width: 70%;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    position: relative;
    left: 13%;
    border: none;
    border-radius: 5px;
    
    i {
      display: flex;
      gap: 1em;
    }
  }
}

