@import "./variables";
@import "./mixins";

.reading-list-promt{
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-between;
  gap: 1em;
  margin: 1em;
  button {
    @include button-style(1em, 1em, 5px);
  }
}
#to-read-container {
  margin: 1em;
  ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    gap: 1em;
  }
  
}