$text-family: Verdana, Geneva, Tahoma, sans-serif;
$h1-size: 34px;
$h2-size: 28px;
$h3-size: 18px;
$h4-size: 16px;
$p-size: 12px;


$background-summer: #ffe1a8;
$background-winter: #ffffff;
$background-dark: #333333;

$text-color-summer: #472d30;
$text-color-winter: #000000;
$text-color-dark: #ffffff;

$primary-color-summer: #e26d5c;
$primary-color-winter: #4a90e2;
$primary-color-dark: #012139;

$card-background-summer: rgb(149 191 174 / 96%);
$card-text-color-summer: #ad6b21;
$card-link-color-summer: #fcbf49;
$card-shadow-summer: 0px 0px 20px rgb(203 238 221);

$card-background-winter: rgb(208 230 245 / 84%);
$card-text-color-winter: #003049;
$card-link-color-winter: #0a2472;
$card-shadow-winter: 0px 0px 20px rgb(0 150 136 / 69%);

$card-background-dark: #2b2b2b;
$card-text-color-dark: #a6e1fa;
$card-link-color-dark: #fcbf49;
$card-shadow-dark: 0px 0px 20px rgb(166, 225, 250);

$btn-color-summer: #ad6b21;
$btn-text-summer: #ffffff;
$btn-hover-bg-summer: #ae80b5;

$btn-color-winter: hsl(340.83deg 41.38% 65.88%);$btn-text-winter: #ffffff;
$btn-hover-bg-winter: #ae80b5;

$btn-color-dark: #a6e1fa;
$btn-text-dark: #2b2b2b;
$btn-hover-bg-dark: #59c6f5;


$btn-shadow: 5px 6px 8px #a6e1fa;
$btn-hover-bg-color: blanchedalmond;

